

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
/* font-family: 'Epilogue', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    /* outline: 1px blue solid; */
    /* background: rgb(0 100 0 / 0.1) !important; */

}

:root{
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}
body{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--Almost-White);
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    
}
header .nav-left{
    display: flex;
    align-items: center;
}
header .nav-left .logo{
    padding-right: 20px;
}
header .nav-left .nav{
    display: flex;
}
header .nav-left .nav .arrow-div img{
    cursor: pointer;
}
header .nav-left .nav a{
    margin-left: 20px;
    text-decoration: none;
    color: var(--Medium-Gray);
}
header .nav-left .nav a:hover{
    color: var(--Almost-Black);
}
header .nav-right a{
    text-decoration: none;
    color: var(--Medium-Gray);
}
header .nav-right a:hover{
    color: var(--Almost-Black);
}
header .nav-right button{
    margin-left: 30px;
    padding: 10px 15px;
    border: 1px solid var(--Almost-Black);
    background-color: var(--Almost-White);
    border-radius: 10px;
    cursor: pointer;
}
header .nav-right button:hover{
    color: var(--Almost-Black);
}
main{
    max-width: 900px;
    margin: 0 auto;
}
.flex-box{
    display: flex;
    gap: 50px;
    /* border: 1px solid black; */
}
.flex-box .flex-left{
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid black; */
}
.flex-box .flex-right{
    flex: 0.5;
}
h1{
    font-size: 50px;
    margin-bottom: 30px;
}
.make-remote{
    padding: 30px;
    /* border: 1px solid black; */
    height: 70%;
    flex: 0.7;
    margin-top: 90px;
}
.make-remote button{
    margin: 40px 0;
    padding: 15px 25px;
    border: none;
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
}
.make-remote button:hover{
    background-color: var(--Almost-White);
    color: var(--Almost-Black);
    border: 1px solid var(--Almost-Black);
}
.make-remote p{
    color: var(--Medium-Gray);
    line-height: 20px;
}
.flex-box .flex-left .clients{
    padding-left: 30px;
    flex: 0.3;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.arrow-div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.features-dropdown .dropdown{
    gap: 5px;
    display: flex;
    line-height: 30px;
    color: var(--Medium-Gray);
    font-size: 14px;
}
.features-dropdown{
    background-color: white;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
    width: 140px;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    top: 60px;
    left: 330px;
    transition: all 0.2s ease-in-out;
}
.company-dropdown{
    background-color: white;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
    width: 100px;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    top: 60px;
    left: 530px;
    transition: all 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform: tr;
}
.company-dropdown .dropdown{
    font-size: 14px;
    color: var(--Medium-Gray);
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.opacity-none{
    opacity: 0;
}
.mobile-header{
    display: none;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media only screen and (max-width: 768px){

    .flex-box{
        width: 100%;
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 300px;
        grid-template-areas: 
        "flex-right"
        "flex-left";
    }
    .flex-right img{
        width: 100%;
    }

    .flex-right{
        grid-area: flex-right;
    }
    .flex-left{
        grid-area: flex-left;
    }
    .main-header{
        width: 200px;
        height: 100vh;
        position: absolute;
        right: 0;
        background-color: var(--Almost-White);
        flex-direction: column;
    }
    .main-header .nav-left{
        flex-direction: column;
        flex: 0;
    }
    .main-header .nav-left .nav{
        flex-direction: column;
    }
    .main-header .nav-right{
        flex-direction: column;
        display: flex;
        border: 1px solid black;
        flex: 0;
    }
    br{
        display: none;
    }
    .flex-left .make-remote{
        text-align: center;
    }
    .features-dropdown, .company-dropdown{
        display: none;
    }
    .flex-box .flex-left .make-remote{
        padding: 0px;
        /* border: 1px solid black; */
        height: 100%;
        flex: 0;
        margin-top: 0;
    }
    .flex-box .flex-left .clients{
        padding-left: 0px;
        flex: 0;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .flex-box .flex-left .make-remote p {
        padding: 10px;
    }
    .flex-box .flex-left .make-remote h1{
        font-size: 35px;
        margin-bottom: 20px;
    }
    .make-remote button{
        margin: 20px 0 40px 0px;
    }
    .mobile-header{
        display: block;
        display: flex;
        padding: 10px;
        padding-bottom: 0;
    }
    .mobile-header .menu-icon ion-icon{
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .logo{
        display: none;
    }
}